input[type="checkbox"]
{
	display: block;
	position:absolute;
	top: -5000px;
}

label
{
	position: absolute;
	top:-9px;
	left:10%;
	z-index: 3;
}

nav div
{
	display: none; 
}

input[type="checkbox"]:checked + nav div
{
	display: inline-block;
}

input[type="checkbox"]:not(:checked) + nav
{
	background-color: #FFF;
	margin: 0;
	padding: 0;
}

nav
{
	background-color: rgb(141,155,216);
	position: fixed;
	top:-10px;
	left: -20px;
	z-index: 2;
	margin-top:70px;
}

nav label
{
	position: fixed;
	top: -9px;
	left:2%;
	z-index: 3;
}

header
{
	z-index: 2;
	margin : 0;
	background-color: rgb(141,155,216);
}

.logo
{
	position: fixed;
	z-index: 1;
}

a:hover
{
	box-shadow: none;
}

#maCarte
{ 
	height:500px;
	width:100%;
	position: relative;
	border: none;
	z-index: 1;
	border-radius: 10px;
	background-position: center;
}